*{
    margin: 0;
    padding: 0; 
}
.nav{
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: rgb(31, 168, 31);
    /* position: fixed; */

}
.nav .left-tab{
    padding: 16px; 
    margin: 16px;
    float: left;
}
    .nav .left-tab .logo{
        width: 130px;
        height: 50px;
        overflow: 70px;
    }


.nav .left-tab a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.nav .right-tab{
    float: right;
}
.nav .right-tab ul li{
    padding: 16px;
    margin: 16px;
    float: left;
    list-style: none;
}
.nav .right-tab ul li a{
    color: white;
    font-size: 29;
    text-decoration: none;

}
.nav .right-tab ul li a:hover{
color: goldenrod;

}
    /* header ends here*/
    /*footer starts here*/
.footer{
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: rgb(0,56,0);
}
.footer div{
    color: aliceblue;
    padding: 1%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center !important;
    align-items: center !important;
    align-self:center !important;
    align-items: center !important;
    align-self: center !important;
    align-content: center !important;
}
/*footer ends here*/
/* container starts her*/
.container{
    width: 100%;
    height: 30rem !important;
    display: block;
    overflow-y: auto;
    
}
.container .Sidebar{
width: 230px;
background-color: rgb(48, 48, 19);
height: 100% !important;
float: left;
}
/*sidebar starts here*/
.container .Sidebar .info{
    width: 98%;
    padding: 10px;
}
.container .Sidebar .info .dash{
    padding: 1opx;
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.container .Sidebar .info .dash .board{
    color: aqua;
    font-style: italic;

}
.container .Sidebar .info ul li{
list-style: none;
color: aliceblue;
padding: 10px;
font-size: larger;
margin-top: 6px;
background-color: rgba(0,0,0,0.2);
margin-right: 10px;
}
.container .Sidebar .info ul li:hover{
    color: goldenrod;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}
.sub-tab{
    display: none;
}
.container .Sidebar .info ul li:hover .sub-tab{
display: block;
}
.container .Sidebar .info ul li:hover .sub-tab ul{
    position: absolute;
    background-color: aliceblue;
    padding: 5px;
    width: auto;
    border-radius: 0px 16px 16px 16px;
    margin-left: 20px;
}
.container .Sidebar .info ul li:hover .sub-tab ul li{
    background-color: transparent;
    list-style: none;
}
.container .Sidebar .info ul li:hover .sub-tab ul li a{
    text-decoration: none;
    color: black;
}
.container .Sidebar .info ul li:hover .sub-tab ul li a:hover{
    color: rgb(102, 91, 26);
    margin-top: 5px;

}

    /*sidebar ends here*/
/*main starts here*/
.container .main{
width: 80%;
 height: 100% !important;
 background-color: rgb(250, 225, 225);
float: right;
margin: 1%;
border-radius: 16px;
box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.4);
display: block;
overflow-y: auto;

}
.container .main h1{
    width: 100%;
    text-align: center !important;
    align-items: center !important;
    align-content: center !important;
    padding: 16px;
    align-self: center !important;
    background-color: rgb(211, 223, 233);
}
.container .main .Main-Content{
    width: 100%;
    height: 90% auto !important;
    display: block;
    overflow-y: auto !important;
}
 .container .main .Main-Content .div{
    width: 21%;
    height: 5rem;
    float: left;

    padding: 1%;
    margin: 1%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.o1);
}
.container .main .Main-Content .div1{
background-color: rgb(94, 94, 235);
text-align: center;
padding: 5px;
}
.container .main .Main-Content .div .h2{
 text-align: center;
 padding: 5px;
}
.container .main .Main-Content .div .h22{
text-align: center;
padding: 5px;
color: brown;
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .main .Main-Content .div2{
    background-color: rgb(43, 43, 61);
    text-align: center;
    padding: 5px;
    }
    .container .main .Main-Content .div3{
        background-color: rgb(87, 87, 150);
        text-align: center;
        padding: 5px;
        }
        .container .main .Main-Content .div4{
            background-color: rgb(118, 235, 94);
            text-align: center;
            padding: 5px;
            }
 .container .main .Main-Content .img{
    width: 90%;
    height: auto;
    padding: 2%;
    display: block;
    overflow: hidden;
 }
 .container .main .Main-Content .img img{
    border-radius: 14px;
    float: left;

 }
 .container .Main-Content .img .right-content{
    float: left;
    padding: 1%;
    display: block;
    width: 50%;

 }
 .container .Main-Content .img .right-content ul a li{
    padding: 4px;
    background-color: gainsboro;
    margin: 5px;
    list-style: none;
    width: 100%;
    text-decoration: none;
    border-radius: 16px;
 }
 .container .Main-Content .img .right-content ul a {
    color: black;
    font-size: 18px;
    text-decoration: none;
 }
 .container .Main-Content .img .right-content ul a li span{
    float: right;
    margin-right: 4%;
    color: brown;
    font-size: 20px;
    font-style: italic;
 }
 .container .Main-Content .img .right-content ul a li:hover{
    background-color: grey;
 }
 /* add address here*/
 .container .main .Main-Content form{
    width: 50%;
    border: 1px solid black;
    text-align: center !important;
    align-self: center !important;
    align-items: baseline !important;
    margin-top: 2%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
    min-height: 100%;
    background-color: rgb(123, 173, 218);
    padding: 10px;
 }
 .container .main .Main-Content form input, textarea, select{
    padding: 8px;
    margin-top: 16px;
    width: 80%;
    border-radius: 16px;
    outline: none;
    border: 1px solid grey;
 }
 .container .main .Main-Content form .btn{
    padding: 10px;
    width: 80%;
    border-radius: 16px;
    outline: none;
    border-style: none;
    background-color: blue;
    font-size: larger;
    margin-bottom: 20px;
 }
 
 .container .main .Main-Content form .gender{
    width: 80%;
    display: flex;
    direction: ltr;
    margin-top: 15px;
    margin-left: 50px;
align-items: center !important;
align-content: center !important;
text-align: left !important;
 }
 .container .main .Main-Content form .gender input{
    text-align: left;
    width: 20%;
    margin-left: 5px;
    margin-top: 15px;
    align-items: center !important;
 }
 .container .main .Main-Content form .btn:hover{
    cursor: pointer;
    background-color: rgb(15, 116, 184);
 }
 .container .main .Main-Content form .alert{
    width: 96%;
    margin:2%;
    background-color: rgb(248, 233, 16);
    border-radius: 16px;
 }
.container .main .Main-Content form .alert h4{
    padding: 10px;
    color: rgb(199, 71, 150);
}
.container .main .Main-Content form .success{
    width: 96%;
    margin:2%;
    background-color: rgb(13, 216, 23);
    border-radius: 16px;
 }
.container .main .Main-Content form .success h4{
    padding: 5px;
    color: rgb(247, 17, 159);
}
 
 /*address ends here*/
 
 .container .main .Main-content table{
    width: 60%;
    border-collapse: collapse;
    border: none;
    margin: 2%;
    border-radius: 16px;
    background-color: rgb(116, 144, 168);
 }
 table tr .h1{
    background-color: grey;
    padding: 2px;
    text-align: center;
    font-size: 22px;
    border-radius: 16px 16px 0px 0px;

 }
 table tr th{
padding: 5px;
background-color: gainsboro;
}
table tr td{
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid darkcyan;
}
.Edit{
    padding: 5px;
    width: 40% !important;
    margin: 5px;
    border-radius: 16px;
    background-color: greenyellow;
    color: black;
    text-decoration: none;

}
.delete{
    padding: 5px;
    width: 40% !important;
    margin: 5px;
    border-radius: 16px;
    background-color: rgb(119, 27, 55);
    color: black;
    text-decoration: none;

}


 
/*main ends here*/
/* container ends here*/
